{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{{ form_widget(form._token) }}
<div class="row">
	{% block behavior_code_form %}
    <div class="col-md-6">
        {{ form_row(form.code) }}
    </div>
    {% endblock %}
    {% block behavior_description_form %}
    <div class="col-md-6">
        {{ form_row(form.description) }}
    </div>
    {% endblock %}
</div>