
<div id="filters-header" class="row">
    <div class="col-sm-10">
        <h2>
            <i id="filters-icon" class="fa fa-filter"></i>
            Step 2: <small id="filters-description">Filter your data</small>
        </h2>
    </div>
    <hr class="visible-xs">
    <div id="filters-next" class="col-sm-2">
        <div class="section-padding hidden-xs"></div>
        <a href="#" id="preview-base-dataset" class="btn btn-primary btn-block">
            <i class="fa fa-arrow-circle-o-right"></i> Preview Dataset
        </a>
        <a href="#transformations" id="filters-button-next" class="btn btn-primary btn-block">
            <i class="fa fa-arrow-circle-o-right"></i> Next Step 
        </a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div id="fields"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="base-dataset" class="base-dataset">Loading dataset</div>
    </div>
</div>
