
<div id="header-container" class="container-fluid navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="header-collapse" class="collapse navbar-collapse">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation"><a href="#target" data-route="target" onclick="return false">1. Target</a></li>
            <li role="presentation"><a href="#filters" data-route="filters" onclick="return false">2. Filters</a></li>
            <li role="presentation"><a href="#translations" data-route="translations" onclick="return false">3. Translations</a></li>
            <li role="presentation"><a href="#export" data-route="export" onclick="return false">4. Export</a></li>
        </ul>
    </div>
</div>