
<div id="translations-header" class="row">
    <div class="col-sm-10">
        <h2>
            <i id="translations-icon" class="fa fa-share-alt"></i>
            Step 3: <small id="translations-description">Translate your data</small>
        </h2>
    </div>
    <hr class="visible-xs">
    <div id="translations-next" class="col-sm-2">
        <div class="section-padding hidden-xs"></div>
        <a href="#export" id="transformations-button-next" class="btn btn-primary btn-block">
            <i class="fa fa-arrow-circle-o-right"></i> Next Step 
        </a>
    </div>
</div>
<hr>
<div class="row">

<div id="translations" class="translations"></div>
<div class="clearfix"></div>
