{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

<div class="row">
	{% block diagnosis_phase_order_form %}
    <div class="col-md-6">
        {{ form_row(form.label) }}
        {{ form_row(form.order) }}
    </div>
    {% endblock %}
    {% block diagnosis_phase_presentation_form %}
    <div class="col-md-6">
        {{ form_row(form.presentation) }}
    </div>
    {% endblock %}
</div>
