<div id="fields-cont"></div>

<!-- Base Dataset Modal -->
<div id="base-dataset-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Base Dataset (<span id="base-dataset-count">0</span> samples found)</h4>
            </div>
            <div class="modal-body">
                <div id="base-dataset">Loading dataset.</div>
            </div>
        </div>
    </div>
</div>
