<div class="pull-right">
    <div class="button-toolbar" role="toolbar" aria-label="Filter options">
        <button type="button" class="field-filter-configure btn btn-default btn-xs"><i class="fa fa-cog"></i></button>
        <button type="button" class="field-filter-remove btn btn-default btn-xs"><i class="fa fa-times"></i></button>
    </div>
</div>
<%= name %>

<!-- Configuration Modal -->
<div class="modal configuration-modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Filter Configuration</h4>
            </div>
            <div class="modal-body">
                <div class="configuration-body">Loading configuration</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary configuration-save">Save Configuration</button>
            </div>
        </div>
    </div>
</div>