{% from 'AccardUIBundle:Macros:form.html.twig' import prototype, static %}

<div class="row">
  <div class="col-md-6">
    {% if behavior is defined and behavior and behavior.patient %}
      {{ static(behavior.patient.fullName, 'accard.patient.entity_name'|trans) }}
    {% endif %}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
  </div>
  <div class="col-md-6">
  {% for field in form.fields %}
    {{ prototype(field) }}
  {% endfor %}
  </div>
</div>
