{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% block regimen_form_tabs %}

<ul class="nav nav-tabs grid-tabs" role="tablist">
    <li class="active">
        <a href="#regimen-base" role="tab" data-toggle="tab">{{ 'accard.interface.nav.regimen.base'|trans }}</a>
    </li>
    <li>
        <a href="#regimen-custom" role="tab" data-toggle="tab">{{ 'accard.interface.nav.regimen.custom'|trans }}</a>
    </li>
    {% if showActivityTab is defined and showActivityTab %}
    <li>
        <a href="#regimen-activities" role="tab" data-toggle="tab">{{ 'accard.interface.nav.regimen.activities'|trans }}</a>
    </li>
    {% endif %}
</ul>

{% endblock %}