{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend:no_layout.html.twig' %}

{% block flashes '' %}

{% block content %}
{% for log in logs %}
    {%- set transString = "accard.log." ~ log.action %}
    {%- set linkable = log.action not in ["update", "create", "delete"] %}
    <li>
        {% if linkable %}
        <a href="{{ path(log.route, log.query|merge(log.attributes|default({}))) }}">
        {% else %}
        <a href="#" class="unlinked" onclick="return false;">
        {% endif %}
            <div>
                <i class="fa fa-{{ linkable ? "link text-info" : "chain-broken text-warning"}} fa-fw"></i> {{ transString|trans({ '%resource%': log.resource, '%id%': log.id }) }} {% if 'index' == log.action and log.query %}(filtered){% endif %}
            </div>
            <div>
                <span class="pull-right text-muted small">{{ log.logDate|timeago }}</span>
            </div>
        </a>
    </li>
{% endfor %}
{% endblock %}
