<nav id="navbar-debugger" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Debugger</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Versions <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://jquery.com" target="_blank"><strong>jQuery:</strong> <%= jqueryVersion %></a></li>
                        <li><a href="http://underscorejs.org" target="_blank"><strong>Underscore:</strong> <%= underscoreVersion %></a></li>
                        <li><a href="http://backbonejs.org" target="_blank"><strong>Backbone:</strong> <%= backboneVersion %></a></li>
                    </ul>
            </ul>
            <ul id="" class="nav navbar-nav navbar-right">
                <li><a href="#">Default</a></li>
            </ul>
        </div>
    </div>
</nav>
