{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{# @author Dylan Pierce <piercedy@upenn.edu #}


{% macro behaviors_menu(view_type) %}

    {%- set settings = accard_settings('behavior') -%}
    {%- set order = {
        alcohol: settings.alcohol_order,
        smoking: settings.smoking_order,
        illicit_drug: settings.illicit_drug_order,
        occupation: settings.occupation_order,
        education: settings.education_order
    } -%}

    {% if not settings.enabled %}
        {% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import disabled %}
        {{ disabled('accard.behavior.title'|trans) }}
    {% else %}
        {% from 'AccardWebBundle:Common/Macros:url.html.twig' import active_if_current %}

        <ul class="nav nav-tabs nav-justified grid-tabs" role="tablist">
        {%- for name, position in order|sort %}
            {% if attribute(settings, 'enable_' ~ name) %}
                <li class="{{ active_if_current("accard_frontend_behavior_#{name}_#{view_type}") }}">
                    <a href="{{ path("accard_frontend_behavior_#{name}_index") }}">{{ "accard.behavior.#{name}.title"|trans }}</a>
                </li>
            {% endif %}
        {% endfor -%}
        </ul>
    {% endif %}

{% endmacro %}


