{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% from 'AccardWebBundle:Common/Macros:form.html.twig' import select_patient %}

{% macro prototype(field) %}
<div class="form-group">
    {{ form_widget(field) }}
</div>
{% endmacro %}

{% if form.patient is defined %}
<div class="row">
    <div class="col-md-12">
        {{ select_patient(form.patient) }}
    </div>
</div>
{% endif %}

{% if form.fields is not empty %}
<div class="row">
    {% for field in form.fields %}
    <div class="col-md-6">
        {{ _self.prototype(field) }}
    </div>
    {% endfor %}
</div>
{% endif %}
