{% extends 'AccardUIBundle:Frontend:layout.html.twig' %}

{% block flashes '' %}

{% block content %}

<h2>Credits</h2>
<p>ACCARD is built by the Database and Applications Group (DAG) and was supported by the National Cancer Institute of the National Institutes of Health.</p>
<p>The DAG is a software development team in the Penn Medicine Academic Computing Services (PMACS) organization with a primary focus on designing, creating and maintaining tools for the Abramson Cancer Center of the University of Pennsylvania.</p>
<p>ACCARD is released under the terms of the MIT license.</p>

<h3>Creator</h3>
<ul class="list-unstyled">
  <li>Wallace Wormley</li>
</ul>

<h3>Architect</h3>
<ul class="list-unstyled">
  <li>Frank Bardon Jr.</li>
</ul>

<h3>Development Team</h3>
<h4>Current</h4>
<ul class="list-unstyled">
  <li>Karl Zipser</li>
  <li>Vasu Renganathen</li>
</ul>

<h4>Contributors</h4>
<ul class="list-unstyled">
  <li>Michael Woods</li>
  <li>Dylan Pierce</li>
</ul>
{% endblock %}
