{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Common/Form:prototypeUpdate.html.twig' %}

{% block form_page_title_translation 'accard.regimen_prototype.action.update'|trans %}
{% block form_submit_action path('accard_backend_regimen_prototype_update', { id: regimen_prototype.id }) %}

{% block form_body %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-4">
            {{ form_widget(form.allowDrug) }}
        </div>
        <div class="col-md-3">
            <div id="drug-group-hider">
                {{ form_widget(form.drugGroup) }}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block form_javascripts_extended %}

    manager
        .behavior('allowDrug', {
            target: '#drug-group-hider',
            condition: 'checked',
            action: 'show'
        })
        .behavior('allowDrug', {
            target: 'drugGroup',
            condition: 'not_checked',
            action: 'clear'
        })
        .bindAll()
    ;

{% endblock %}
